extends layout 
block content_here
	-function getType(n){ if (n == null){return "";} var type = [{name:"悦动",type:"1"},{name:"伊兰特",type:"2"},{name:"雅绅特",type:"3"},{name:"瑞纳",type:"4"},{name:"i30",type:"5"},{name:"途胜",type:"6"},{name:"其他",type:"7"}]; return type[parseInt(n)-1].name; }
	div#head-nav.print-hide.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.fa.fa-gear
				//- a.navbar-brand(href='tables-datatables.html#')
					span Hy
			div.navbar-collapse.collapse
				ul.nav.navbar-nav(style="width:100%")
					li.active
						a(href='/admin/dealer') 客户查询
					-if(new Date().getDate()>15)
						li
							a(href='/admin/dealer/active') 活动实施 
					li
						a(href="/admin/password") 修改密码
					li(style="float:right;")
						a(href="/admin/out") 退出
					li(style="float:right;")
						a(href="/admin/index") 返回
	div#cl-wrapper.print-hide
		div#pcont.container-fluid(style="margin:0px;")
			div.page-head
				h2 客户查询
				ol.breadcrumb
					li
						a(href='/admin/dealer') 经销商管理
					li.active 客户列表
			div.cl-mcont
				div.row
					div.col-md-12
						div.block-flat
							div.header
								h3 客户列表
							div.content
								div.table-responsive
									div.table-ctrl
										-var at = bt = ct = "";
										-if (selectype == "1") {at = "selected";}
										-if (selectype == "2") {bt = "selected";}
										-if (selectype == "3") {ct = "selected";}
										select.form-control(name="type",style="width:140px;display:inline-block;")
											-if (selectype == "1")
												option(value="1",selected="selected") 注册时间
											-else
												option(value="1") 注册时间
											-if (selectype == "2")
												option(value="2",selected="selected") 预约日期
											-else
												option(value="2") 预约日期
											-if (selectype == "3")
												option(value="3",selected="selected") 实施时间
											-else
												option(value="3") 实施时间
										layout   从  
										input.form-control.datepicker(type="text",size="16",name="startime",style="width:140px;display:inline-block;")
										layout   到  
										input.form-control.datepicker(type="text",size="16",name="endtime",style="width:140px;display:inline-block;")
										button.btn.btn-primary(type="button",onclick="searchdate()") 查询
										a.btn.btn-default(href="/admin/dealer") 重置
										button.btn.btn-primary(type="button",onclick="printtable()") 打印
									div
										input.form-control(type="text",size="16",name="mobile",style="width:140px;display:inline-block;")
										button.btn.btn-primary(type="button",onclick="searchmobile()") 查询手机号
									table#datatable.table.table-bordered
										thead
											tr
												th.sorting_desc 时间
												th 姓名
												th 手机
												th 车型
												th 预约日期
												th 实施时间
												th 是否置换
												th 操作
										tbody
											//- -for (var i=0;i<list.length;i++)
												tr.odd.gradeX
													-var a = new Date(list[i].create_at);
													td #{a.getFullYear()}-#{a.getMonth()+1}-#{a.getDate()}
													-if (list[i].code == "9999999")
														td #{list[i].othername}
														td #{list[i].othermobile}
													-else
														td #{list[i].username}
														td #{list[i].mobile}
													td #{getType(list[i].cartype)}
													-if (list[i].reser_at == null && list[i].imp_at == null)
														td(width="140px;")
															div.input-group.date.datepickerh.col-sm-3(style="margin-bottom:0px;")
																input.form-control(type="text",size="16",data-format="yy-mm-dd",name="reser",style="width:140px",readonly)
																span.input-group-addon.btn.btn-primary
																	span.glyphicon.glyphicon-th
													-else if (list[i].imp_at != null && list[i].reser_at == null)
														td
													-else
														-var b = new Date(list[i].reser_at);
														td #{b.getFullYear()}-#{b.getMonth()+1}-#{b.getDate()}
													-if (list[i].imp_at == null)
														td
															input(type="text",name="imp_at",value="null",style="display:none;")
													-else
														-var b = new Date(list[i].imp_at);
														td #{b.getFullYear()}-#{b.getMonth()+1}-#{b.getDate()}
													-if (list[i].changed){var changed = "是"}else{var changed = "否"}
													td #{changed}
													td
														-if (list[i].imp_at == null && list[i].reser_at == null)
															a(href="/admin/dealer/reser/#{list[i]._id}",onclick="setTimepost(this); return false;") 确定
block css_here
	link(rel="stylesheet",type="text/css",href="/js/jquery.nanoscroller/nanoscroller.css" )
	link(rel="stylesheet",type="text/css",href="/js/jquery.easypiechart/jquery.easy-pie-chart.css" )
	link(rel="stylesheet",type="text/css",href="/js/bootstrap.switch/bootstrap-switch.css" )
	link(rel="stylesheet",type="text/css",href="/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" )
	link(rel="stylesheet",type="text/css",href="/js/bootstrap.datetimepicker/datepicker.css" )
	link(rel="stylesheet",type="text/css",href="/js/jquery.select2/select2.css" )
	link(rel="stylesheet",type="text/css",href="/js/bootstrap.slider/css/slider.css" )
	link(rel="stylesheet",type="text/css",href="/js/jquery.datatables/bootstrap-adapter/css/datatables.css" )

block js_here
	script(type="text/javascript",src="/js/jquery.nanoscroller/jquery.nanoscroller.js")
	script(type="text/javascript",src="/js/jquery.sparkline/jquery.sparkline.min.js")
	script(type="text/javascript",src="/js/jquery.easypiechart/jquery.easy-pie-chart.js")
	script(type="text/javascript",src="/js/behaviour/general.js")
	script(src="/js/jquery.ui/jquery-ui.js",type="text/javascript")
	script(type="text/javascript",src="/js/jquery.nestable/jquery.nestable.js")
	script(type="text/javascript",src="/js/bootstrap.switch/bootstrap-switch.min.js")
	script(type="text/javascript",src="/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js")
	script(src="/js/jquery.select2/select2.min.js",type="text/javascript")
	script(src="/js/bootstrap.slider/js/bootstrap-slider.js",type="text/javascript")
	script(type="text/javascript",src="/js/jquery.gritter/js/jquery.gritter.min.js")
	script(type="text/javascript",src="/js/jquery.datatables/jquery.datatables.min.js")
	script(type="text/javascript",src="/js/jquery.datatables/bootstrap-adapter/js/datatables.js")
	//- script(type="text/javascript",src="/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js")
	script.
		$.fn.dataTable.pipeline = function ( opts ) {
		// Configuration options
		var conf = $.extend( {
		pages: 5,     // number of pages to cache
		url: '',      // script url
		data: null,   // function or object with parameters to send to the server
		// matching how `ajax.data` works in DataTables
		method: 'GET' // Ajax HTTP method
		}, opts );

		// Private variables for storing the cache
		var cacheLower = -1;
		var cacheUpper = null;
		var cacheLastRequest = null;
		var cacheLastJson = null;

		return function ( request, drawCallback, settings ) {
		var ajax          = false;
		var requestStart  = request.start;
		var drawStart     = request.start;
		var requestLength = request.length;
		var requestEnd    = requestStart + requestLength;

		if ( settings.clearCache ) {
		// API requested that the cache be cleared
		ajax = true;
		settings.clearCache = false;
		}
		else if ( cacheLower < 0 || requestStart < cacheLower || requestEnd > cacheUpper ) {
		// outside cached data - need to make a request
		ajax = true;
		}
		else if ( JSON.stringify( request.order )   !== JSON.stringify( cacheLastRequest.order ) ||
		JSON.stringify( request.columns ) !== JSON.stringify( cacheLastRequest.columns ) ||
		JSON.stringify( request.search )  !== JSON.stringify( cacheLastRequest.search )
		) {
		// properties changed (ordering, columns, searching)
		ajax = true;
		}

		// Store the request for checking next time around
		cacheLastRequest = $.extend( true, {}, request );

		if ( ajax ) {
		// Need data from the server
		if ( requestStart < cacheLower ) {
		requestStart = requestStart - (requestLength*(conf.pages-1));

		if ( requestStart < 0 ) {
		requestStart = 0;
		}
		}

		cacheLower = requestStart;
		cacheUpper = requestStart + (requestLength * conf.pages);

		request.start = requestStart;
		request.length = requestLength*conf.pages;

		// Provide the same `data` options as DataTables.
		if ( $.isFunction ( conf.data ) ) {
		// As a function it is executed with the data object as an arg
		// for manipulation. If an object is returned, it is used as the
		// data object to submit
		var d = conf.data( request );
		if ( d ) {
		$.extend( request, d );
		}
		}
		else if ( $.isPlainObject( conf.data ) ) {
		// As an object, the data given extends the default
		$.extend( request, conf.data );
		}

		settings.jqXHR = $.ajax( {
		"type":     conf.method,
		"url":      conf.url,
		"data":     request,
		"dataType": "json",
		"cache":    false,
		"success":  function ( json ) {
		cacheLastJson = $.extend(true, {}, json);

		if ( cacheLower != drawStart ) {
		json.data.splice( 0, drawStart-cacheLower );
		}
		json.data.splice( requestLength, json.data.length );

		drawCallback( json );
		}
		} );
		}
		else {
		json = $.extend( true, {}, cacheLastJson );
		json.draw = request.draw; // Update the echo for each response
		json.data.splice( 0, requestStart-cacheLower );
		json.data.splice( requestLength, json.data.length );

		drawCallback(json);
		}
		}
		};
		//- $.fn.dataTable.Api.register( 'clearPipeline()', function () {
		//- 	return this.iterator( 'table', function ( settings ) {
		//- 		settings.clearCache = true;
		//- 	});
		//- });
		$(document).ready(function(){
		//initialize the javascript
			App.init();
			//- App.dataTables();
			
			var newtable = $("#datatable").dataTable({
				aLengthMenu:[[10, 25, 50, 100, 100000000],[10, 25, 50, 100, "所有"]],
				"bProcessing": true,  
				"bServerSide": true, 
				"aaSorting" : [
					[ 0, "desc" ]
				],
				"fnServerData": fnDataTablesPipeline  
			});
			$("[aria-controls]").attr("placeholder","查询手机号");
			//- newtable.fnSort([[0,'desc']]);
		});
		function fnDataTablesPipeline(sUrl, aoData, fnCallback) {
			//- console.log(aoData);
			var newurl = sUrl;
			var st = "#{startime}";
			var et = "#{endtime}";
			var type = "#{selectype}";
			if (type != "" && st != "") {
				//- newurl += "?startime="+startime+"&endtime="+endtime+"&type="+type;
				aoData.push({name:"startime",value:st});
				aoData.push({name:"endtime",value:et});
				aoData.push({name:"type",value:type});
			}
			console.log(aoData);
			$.ajax({
			dataType: "json",
			type: 'POST',
			url: newurl,
			data: aoData,
			success: callback,
			cache: false
			});
			function callback(data) {
				fnCallback(data);
				App.init();	
			}
		}
		//- function fnCallback(err,data) {
		//- 	console.log(err,data);
		//- }
		function searchdate() {
			if ($("[name=startime]").val() !="" && $("[name=endtime]").val() !="") {
				//- $("[name=startime]").val()+" 0:0:0"
				var _s = $("[name=startime]").val()+" 0:0:0";
				var _e = $("[name=startime]").val()+" 23:59:59";
				window.location.href = "/admin/dealer?startime="+decodeURIComponent(_s)+"&endtime="+decodeURIComponent(_e)+"&type="+$("[name=type]").val();
			}else if($("[name=startime]").val() =="" && $("[name=endtime]").val() ==""){
				window.location.href = "/admin/dealer?startime=&endtime=&type="+$("[name=type]").val();
			}else {
				alert("请选择时间范围后查询.");
			}
		}
		function setTimepost(o) {
			var val = $(o).parents("tr").find("[name=reser]").val();
			//- console.log(val);
			if (val == "") {
				alert("请选择预约日期");
				return false;
			}
			$.ajax({
				url:$(o).attr("href"),
				type: 'POST',
				data: [{name:"timer",value:val}],
				dataType: 'json',
				context: $('body'), 
				success: function(msg){
					if (msg.recode == 200){
						window.location.reload();
					}else{
						alert(msg.reason);
					}
				}
			});
			return false;
		}
		function printtable() {
			$("#printtable").remove();
			newtable = $("#datatable").clone().attr("id","printtable");
			newtable.addClass("print-visible");
			$("body").append(newtable);
			window.print();
		}
		function NewDate(str,hour) { 
			str = str.split('-');
			var date = new Date();
			console.log(str);
			date.setUTCFullYear(str[0], str[1] - 1, str[2]); 
			hour = hour.split(':');
			date.setUTCHours(hour[0], hour[1], hour[2], 0); 
			return date; 
		}
		function searchmobile() {
			$.ajax({
				url:"/admin/dealer/check",
				type: 'POST',
				data: [{name:"mobile",value:$("[name=mobile]").val()}],
				dataType: 'json',
				success: function(msg){
					alert(msg.reason);
				}
			});
		}
    
	script(src="/js/bootstrap/dist/js/bootstrap.min.js")
	script(type="text/javascript",src="/js/jquery.flot/jquery.flot.js")
	script(type="text/javascript",src="/js/jquery.flot/jquery.flot.pie.js")
	script(type="text/javascript",src="/js/jquery.flot/jquery.flot.resize.js")
	script(type="text/javascript",src="/js/jquery.flot/jquery.flot.labels.js")
	script(type="text/javascript",src="/js/bootstrap.datetimepicker/bootstrap-datepicker.js")
	script(type="text/javascript",src="/js/bootstrap.datetimepicker/bootstrap-datepicker.zh-CN.js")
	



		